Control flow

In [ ]:
a = int(input("enter the number"))

enter the number5

In [ ]:
a

5

In [ ]:
if a>10 : 
  print("A is greater then 10")
elif a > 5:
  print("A is greater than 5 but less than equal to 10")
else :
  print("A is less than equal to 5")

A is less than equal to 5

Loops

in for loop

for varName in iterable

here uterable is something which can give one item at a time
like list, tuple, string

we can also iterate our set in normal way

in dict we can only iterate our key
but by d.items we can iterate

In [ ]:
for i in [1, 2, 4,"govind"] : 
  print(i)

1
2
4
govind

In [ ]:
for i in (1, 2, 3, 4, "me"):
  print(i)

1
2
3
4
me

In [ ]:
for i in {1, 2, 3} : 
  print(i)

1
2
3

In [ ]:
for i in "govind":
  print(i)

g
o
v
i
n
d

In [ ]:
for key in {"name": "govind", "college" : "nitw"}:
  print(key)

name
college

In [ ]:
for key, value in {"name": "govind", "college" : "nitw"}.items():
  print(key, ":", value)

name : govind
college : nitw

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
#this enumerate first convert given iterable to new iterable with tuple having value and index
for i in enumerate((1, 2, 3, 4, "me")):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 'me')

In [ ]:
for index, value in enumerate((1, 2, 3, 4, "me")):
  print(index, value)

0 1
1 2
2 3
3 4
4 me

In [ ]:
i =0;
while(i<10):
  print(i);
  i = i+1;

0
1
2
3
4
5
6
7
8
9

In [ ]:
#List comprehension

table13 = [13*i for i in range(1, 11)]
table13

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [ ]:
list(range(1, 10))
print(range(1,10))

range(1, 10)